@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BlackJackBalatro.Services.GameState
<div id="statDiv">
    <div id="innerstat" data-bet="@Model.bet" data-chips="@Model.Player.chips" data-rounds="@Model.rounds">

        <h3>Player Stats</h3>
        <div class="stat-row"><span>Name:</span> <span>@Model.Player.name</span></div>
        <div class="stat-row"><span>Chips:</span> <span>@Model.Player.chips</span></div>
        <div class="stat-row"><span>Multiplier:</span> <span>@Model.Player.multiplier</span></div>
        <div class="stat-row"><span>Points:</span> <span>@Model.CurrentPlayerPoints</span></div>
        <div class="stat-row"><span>Computer:</span> <span>@Model.CurrentComputerPoints</span></div>
        <div class="stat-row"><span>Rounds Played:</span> <span>@Model.rounds</span></div>


        <h4>Draw Stats</h4>
        <div class="stat-row"><span>Card Draws:</span> <span>@Model.Player.cardDraws</span></div>
        <div class="stat-row"><span>Special Draws:</span> <span>@Model.Player.specialDraws</span></div>
        <div class="stat-row"><span>Evil Draws:</span> <span>@Model.Player.evilDraws</span></div>
        <div class="stat-row"><span>Mystery Draws:</span> <span>@Model.Player.mysteryDraws</span></div>
        <div class="stat-row"><span>Black Jacks:</span> <span>@Model.Player.blackJacks</span></div>
        <div class="stat-row"><span>Busts:</span> <span>@Model.Player.busts</span></div>

        <h4>Decks</h4>
        <div class="stat-row"><span>Normal Deck:</span> <span>@Model.NormalDeck.Count</span></div>
        <div class="stat-row"><span>Evil Deck:</span> <span>@Model.EvilDeck.Count</span></div>
        <div class="stat-row"><span>Bonus Deck:</span> <span>@Model.BonusDeck.Count</span></div>

    </div>
</div>