@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BlackJackBalatro.Services.GameState
<div id="statDiv">
<div>
    <h2>Stats</h2>

    <label>Name: @Model.Player.name</label><br />
    <label>Chips: @Model.Player.chips</label><br />
    <label>Multiplier: @Model.Player.multiplier</label><br />
    <label>CurrentPoints: @Model.CurrentPlayerPoints</label><br />
    <label>CurrentComPoints: @Model.CurrentComputerPoints</label><br />
    <label>Card Draws: @Model.Player.cardDraws</label><br />
    <label>Special Draws: @Model.Player.specialDraws</label><br />
    <label>Evil Draws: @Model.Player.evilDraws</label><br />
    <label>Mystery Draws: @Model.Player.mysteryDraws</label><br />
    <label>Black Jacks: @Model.Player.blackJacks</label><br />
    <label>Round Bet: @Model.bet</label><br />
        <label>Busts: @Model.Player.busts</label><br />

    <br />
        <label>Normal Deck: @Model.NormalDeck.Count</label><br />
        <label>Evil Deck: @Model.EvilDeck.Count</label><br />    
        <label>Bonus Deck: @Model.BonusDeck.Count</label><br />
    
</div>
</div>