@{
    ViewData["Title"] = "BBJ";
}
@model BlackJackBalatro.Services.GameState
<div id="GameView"  class="text-center">
    <div id="inventory">
        @await Html.PartialAsync("Inventory", @Model);
    </div>
    <div id="game-area">
        <div id="play-area">
            @if((@Model.NormalDeck.Count + @Model.BonusDeck.Count + @Model.EvilDeck.Count < 10) || @Model.Player.chips < 1){
                <div>
                    <h1>Game Over</h1><br />
                    <a asp-action="Index" asp-controller="Home">Back to Home</a>
                </div>
            }else{

            <button class="action-btn" id="start" onclick="gameStart()">Start Game</button>
            <div id="comp-area">
                @await Html.PartialAsync("Computerhand", @Model);
            </div>
            <div id="player-area">
                @if (@Model.canPlayerDraw)
                {
                
                    @await Html.PartialAsync("PlayerHand", @Model)
                    ;

                }
                else if(!@Model.canPlayerDraw && @Model.isPlayerWin || @Model.CurrentPlayerPoints == 21)
                {
                    @await Html.PartialAsync("WinScreen", @Model)
                }
                else if((!@Model.isPlayerWin && !@Model.canPlayerDraw))
                {
                        @await Html.PartialAsync("LoseScreen", @Model);
                }
             </div>
             <button class="action-btn" id="standButton" onclick="stand()">Stand</button>
         }
        </div>
        
        <div id="stat-area">
            @await Html.PartialAsync("Stats", @Model);
        </div>
       </div>

</div>